.iconButton {
  height: 2.3rem;
  line-height: 50%;
}

.iconButton:hover {
  background-color: rgb(223, 223, 223);
}

.iconButton.error {
  background: #FF9999;
}

.settings-label {
  font-size: medium;
}

.ahButtonWrapper {
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
}

.attributeButton {
  background: #ccc;
  border: 1px solid #888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  transition: max-width 0s 200ms;
  font-size: small;
  height: fit-content;
}

.attributeButton:focus {
  max-width: 1000px;
}

.attributeButton:hover {
  background: #ddd;
  max-width: 1000px;
}

.attributeButton.selected {
  background: lightblue;
  max-width: 1000px;
}

.attributeButton.selected.notted {
  background: #FF9999;
}

.currentQueryDisplay {
  line-height: 1;
}

.actionButtons {
  display: flex;
  align-items: center;
  margin: 4px;
  justify-content: space-between;
}

/* sticky footer scroll */
.primaryPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.ahWrapper {
  flex: 1;
  overflow: auto;
  padding-bottom: 16px;
}
.stickyFooter {
  max-height: 33%;
  flex-shrink: 0;
}
